<h1>My Lists</h1>

<ul>
<% @task_lists.each do |task_list| %>
  <li class="task_lists"><%= link_to task_list.name, task_list_path(task_list) %></li>
<% end %>
</ul>

<p><%= link_to "New List", new_user_task_list_path %></p>
